<div class="container">
  <a [routerLink]="['/']">
    <h4 class="text-light">My Application</h4>
  </a>
  <div class="d-flex ml-auto">
    <a class="nav-link active text-light " [routerLink]="['/']">Home</a>
    <a class="nav-link text-light" href="#">About</a>
    <a class="nav-link text-light" href="#">Contact</a>
  </div>

</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->